/* Variables */
:root {
  /* Плавна прокрутка для якірних посилань */
  scroll-behavior: smooth;

  /* Fonts */
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: sans-serif;
  /* Colors */
  --main-cl: #111111;
  --primary-cl: ;
  --secondary-cl: ;
  --accent-cl: #fd9222;
  --light-cl: #fff;
  --light-cl-70: rgba(255, 255, 255, 0.7);
  --dakr-cl: ;
  --info-cl: ;
  --warning-cl: ;
  --error-cl: ;

  /* Background colors */
  --main-bg-cl: #fafafa;
  --accent-bg-cl: #fcf1e0;
  --light-bg-cl: rgba(17, 17, 17, 0.7);
  --dark-bg-cl: #1e1823;

  /* Other */
  --radius: ;
  --shadow: ;
  --anim-fast: 300ms ease;
  --anim-slow: 800ms ease-in-out;

  --indent-vertical: 32px;
  --indent-horizontal: var(--indent-vertical);
  --items: 4;
}
/**
  |============================
  | Base styles
  |============================
*/
.page {
  font-family: var(--main-font);
  color: var(--main-cl);
  background-color: var(--main-bg-cl);

  /* Pattern image */
  /* background-image: url('data:image/svg+xml,%3Csvg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z" fill="%239C92AC" fill-opacity="0.4" fill-rule="evenodd"/%3E%3C/svg%3E');

  background-repeat: no-repeat; */
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* reset end */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-title {
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-cl);
}
.section-title-accent {
  color: var(--accent-cl);
}
.container {
  width: 1168px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}
.btn {
  padding: 14px 40px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--light-cl);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;

  transition: background-color var(--anim-fast), color var(--anim-fast),
    border-color var(--anim-fast);
}
.btn-accent {
  background-color: var(--accent-cl);
}
.btn-accent:hover,
.btn-accent:focus {
  color: var(--accent-cl);
  background-color: var(--accent-bg-cl);
}
.btn-light {
  border-color: var(--light-cl);
  color: var(--light-cl);
}
.btn-light:hover,
.btn-light:focus {
  color: var(--accent-cl);
  border-color: var(--accent-cl);
}
.btn-dark {
  font-size: 18px;
  color: currentColor;
  border-color: var(--accent-cl);
}
.btn-dark:hover,
.btn-dark:focus {
  color: var(--light-cl);
  background-color: var(--accent-cl);
}

/**
  |============================
  | Flexbox grid
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--indent-horizontal);
  column-gap: var(--indent-vertical);
}
.card-set-item {
  width: calc((100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items));
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin-right: 365px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.header-logo-italic {
  font-style: italic;
}
.header-logo-icon {
  animation: infinity-rotate 3000ms linear 0s infinite;
}
/* Анімація іконки логотипа */
@keyframes infinity-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-list {
  display: flex;
  gap: 24px;
}
.header-list-item {
}
.header-list-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color var(--anim-fast);
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--accent-cl);
}
.header-list-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 20px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: transparent;
}
.header-list-link.current::after {
  background-color: var(--accent-cl);
}
.header-socials {
  display: flex;
  gap: 14px;
}
.header-socials-item {
}
.header-socials-link {
  display: block;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  color: var(--main-cl);

  transition: color var(--anim-fast);
}
.header-socials-link:hover,
.header-socials-link:focus {
  color: var(--accent-cl);
}
.header-socials-icon {
  fill: currentColor;
}

/* .header-socials-icon {
  fill: var(--main-cl);
}
.header-socials-link:hover .header-socials-icon,
.header-socials-link:focus .header-socials-icon {
  fill: var(--accent-cl);
} */

/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  padding-bottom: 80px;

  /* max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: url('../images/hero/people-office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
.hero-wrapper {
  padding: 40px;
  padding-top: 381px;

  border-radius: 30px;
  background-color: var(--light-bg-cl);
  background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
    url('../images/hero/hero_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  width: 484px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--light-cl);
}
.hero-controls {
  display: flex;
}
.hero-btn-accent {
  margin-right: 14px;
}
.hero-btn {
  margin-left: auto;
  padding: 0;
  display: inline-flex;
  align-items: center;
  gap: 14px;
  letter-spacing: -0.42px;
}
.hero-btn-circle {
  display: inline-block;
  width: 38px;
  height: 38px;
  padding: 8px;

  background-color: var(--light-cl);
  border-radius: 50%;
}
/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--dark-bg-cl);
}
.benefits-container {
  width: 1132px;
}
.benefits-title {
  display: none;
}
.benefits-list {
  display: flex;
  /* gap: 88px; */
  justify-content: space-between;
}
.benefits-list-item {
  position: relative;
  width: 308px;
}
.benefits-list-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -44px;
  transform: translateY(-50%);

  display: block;
  width: 1px;
  height: 124px;
  background-color: rgba(255, 255, 255, 0.5);
}

.benefits-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;

  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.benefits-list-icon {
}
.benefits-list-title {
  margin-bottom: 18px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--light-cl);
}

.benefits-list-desc {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--light-cl-70);
}
/**
  |============================
  | Ingridients styles
  |============================
*/
.ingridients {
  padding-top: 120px;
}
.ingridients-title {
  width: 412px;
  margin-left: auto;
  margin-right: auto;
}
.ingridients-list {
}
.ingridients-item {
  position: relative;
  padding: 28px 23px;

  background-color: var(--light-cl);
  border: 1px solid transparent;
  border-radius: 15px;
}
.ingridients-item:nth-child(4n + 1) {
  color: var(--light-cl);
  background-color: var(--accent-cl);
}
.ingridients-item:nth-child(4n + 3) {
  color: var(--light-cl);
  background-color: var(--dark-bg-cl);
}
.ingridients-item:nth-child(2n) {
  border-color: var(--accent-cl);
}
.ingridients-item-btn {
  position: absolute;
  top: 14px;
  right: 14px;

  padding: 0;
  border: none;
  background-color: transparent;
}
.ingridients-item-icon {
  fill: none;
}
.ingridients-item:nth-child(4n + 1) .ingridients-item-icon,
.ingridients-item:nth-child(4n + 3) .ingridients-item-icon {
  stroke: var(--light-cl);
}
.ingridients-item:nth-child(2n) .ingridients-item-icon {
  stroke: var(--accent-cl);
}

.ingridients-img {
}
.ingridients-caption {
  margin-top: 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/**
  |============================
  | Made styles
  |============================
*/
.made {
}
.made-title {
}
.made-wrapper {
  display: flex;
  gap: 20px;
}
.made-left-side {
  position: relative;
  flex-shrink: 0;
}
.made-pic {
}
.made-btn {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translateX(-50%) translateY(-50%);

  padding: 0;
  border: none;
  background-color: transparent;
}
.made-btn-icon {
}
.made-right-side {
  padding: 32px;

  border-radius: 15px;
  background-color: var(--light-cl);
}
.made-subtitle {
  width: 350px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-item {
  display: flex;
  align-items: baseline;
  gap: 8px;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.made-item:not(:last-child) {
  margin-bottom: 24px;
}
.made-item::before {
  content: '';

  display: block;
  flex-shrink: 0;
  width: 7px;
  height: 7px;
  background-color: #4c4c4c;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #eceded;
}
/**
  |============================
  | Products styles
  |============================
*/
.products {
  background-color: var(--light-bg);
}
.products-title {
}
.products-list {
  --indent-vertical: 18px;
  --indent-horizontal: 24px;
}
.products-item {
  padding: 32px 20px;
  background-color: var(--light-cl);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  text-align: center;
}
.products-ill {
}
.products-heading {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-category {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--additional-cl);
}
.products-price {
  width: fit-content;
  padding: 8px 20px;
  margin: 0 auto;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  background-color: var(--main-bg-cl);
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
/**
  |============================
  | Bestsellers styles
  |============================
*/
.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
  --items: 3;
  --indent-vertical: 16px;
}
.bestsellers-item {
}
.bestsellers-box {
  position: relative;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}
.bestsellers-img {
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(161deg, rgba(253, 253, 255, 0.1), rgba(8, 2, 21, 0));
  backdrop-filter: blur(0px);

  transition-property: transform, backdrop-filter;
  transition-duration: 500ms, 300ms;
  transition-timing-function: ease;
  transition-delay: 800ms, 0s;
}
.bestsellers-item:hover .overlay {
  transform: translateY(0);
  backdrop-filter: blur(8px);
  transition-delay: 0s, 500ms;
}
.overlay-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-bg-cl);
}
.bestsellers-wrapper {
  padding: 28px;

  border-radius: 0 0 15px 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  background-color: var(--light-cl);
}
.bestsellers-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}
/**
  |============================
  | Reviews styles
  |============================
*/
.reviews {
  padding-bottom: 120px;
}
.reviews-title {
  margin-bottom: 92px;
}
.reviews-list {
  --items: 3;
  --indent-vertical: 28px;
  margin-bottom: 50px;
}
.reviews-item {
  position: relative;

  padding: 24px;
  padding-top: 56px;
  background-color: var(--light-cl);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9px 100px 0px rgba(17, 17, 17, 0.03);
}
.reviews-avatar {
  /* margin: 0 auto;
  margin-top: -66px; */
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
}
.reviews-author {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--additional-cl);
}
.reviews-btn {
  display: block;
  margin: 0 auto;
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  padding-top: 50px;
  padding-bottom: 62px;
  background-color: var(--dark-bg-cl);
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-slogan {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--light-cl);
}
.footer-slogan-accent {
  color: var(--accent-cl);
}
.footer-address {
  display: flex;
  gap: 50px;
  font-style: normal;
}
.footer-address-left {
}
.footer-address-subject {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--light-cl);
}
.footer-socials {
  display: flex;
  align-items: center;
  gap: 14px;
}
.footer-contatcs {
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-menu {
  display: flex;
  gap: 24px;
}
.footer-menu-item {
}
.footer-menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--light-cl);
  transition: color var(--anim-fast);
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--accent-cl);
}
/* footer form */
.subscribe-form {
  display: flex;
  align-items: center;
  gap: 8px;
}
.subscribe-form-input {
  width: 313px;
  height: 52px;
  padding: 14px 24px;

  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--light-cl);

  outline: transparent;
  background-color: transparent;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);

  transition: border-color var(--anim-fast);
}

.subscribe-form-input:focus {
  border-color: var(--accent-cl);
}
.subscribe-form-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* Socials */
.socials {
}
.socials-item {
}
.socials-link {
}

.socials-icon {
  fill: none;
  stroke: var(--light-cl);
  transition: stroke var(--anim-fast);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  stroke: var(--accent-cl);
}

/* Contacts */
.contacts {
}
.contacts-item:not(:last-child) {
  margin-bottom: 4px;
}
.contacts-link {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--light-cl);
  transition: color var(--anim-fast);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-cl);
}
/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);

  transition: opacity var(--anim-slow), visibility var(--anim-slow);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 517px;
  min-height: 794px;
  background-color: var(--main-bg-cl);
  border-radius: 15px;

  padding: 40px;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  padding: 0;
  border: none;
  background-color: transparent;
}
.modal-btn-icon {
}

/* Form styles */
.modal-caption {
  display: block;
  width: 298px;
  margin-bottom: 40px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.modal-caption-accent {
  color: var(--accent-cl);
}
.modal-form {
}
.modal-label {
  display: block;
  margin-bottom: 8px;

  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-field {
  position: relative;
  margin-bottom: 18px;
}
.modal-field-input,
.modal-field-review {
  width: 100%;
  height: 68px;
  padding: 22px 62px;

  background-color: var(--main-bg-cl);
  outline: 4px solid transparent;
  border: 2px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  /* box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.03); */
  transition: border-color var(--anim-fast);
}
.modal-field-input:focus,
.modal-field-review:focus {
  border-color: var(--accent-cl);
}
.modal-field-input:not(:placeholder-shown):required:invalid {
  border-color: #e74a3b;
}
.modal-field-input:not(:placeholder-shown):required:valid {
  border-color: #098755;
}
.modal-field-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);

  fill: none;
  stroke: #404040;
  pointer-events: none;
  transition: stroke var(--anim-fast);
}

.modal-field-input:focus + .modal-field-icon {
  stroke: var(--accent-cl);
}

.modal-field-input:not(:placeholder-shown):required:invalid + .modal-field-icon {
  stroke: #e74a3b;
}
.modal-field-input:not(:placeholder-shown):required:valid + .modal-field-icon {
  stroke: #098755;
}
.modal-field-review {
  margin-bottom: 18px;
  padding-left: 24px;
  height: 137px;

  font-size: 18px;
  letter-spacing: -0.02em;
  resize: none;
}
.modal-field-review::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

/* Agreement block */
.modal-agreement {
  /* display: flex;
  align-items: center;
  gap: 12px; */

  margin-bottom: 40px;
}
/* Checkbox v.1 */
.modal-checkbox {
  position: relative;
  appearance: none;
  display: block;
  width: 20px;
  height: 20px;

  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='5.5' stroke='%23111111' stroke-opacity='0.14'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.modal-checkbox::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.3);
  opacity: 0;

  display: block;
  width: 100%;
  height: 100%;

  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='6' fill='%23FD9222'/%3E%3Cpath d='M8.94874 14.7542C9.38459 14.7542 9.71409 14.5868 9.93724 14.2521L14.7646 6.97696C14.8448 6.85841 14.9041 6.7416 14.9425 6.62654C14.9808 6.50799 15 6.39467 15 6.28658C15 5.98672 14.8954 5.73916 14.6862 5.54391C14.4805 5.34516 14.2259 5.24579 13.9226 5.24579C13.7134 5.24579 13.5356 5.28763 13.3891 5.37131C13.2462 5.45151 13.1102 5.59098 12.9812 5.78972L8.92782 12.1548L6.89854 9.72278C6.67887 9.46824 6.40342 9.34098 6.07218 9.34098C5.76185 9.34098 5.50558 9.44035 5.30335 9.63909C5.10112 9.83784 5 10.0871 5 10.387C5 10.523 5.02092 10.652 5.06276 10.774C5.10809 10.8926 5.19003 11.0164 5.30858 11.1454L8.00209 14.3201C8.24965 14.6095 8.5652 14.7542 8.94874 14.7542Z' fill='white'/%3E%3C/svg%3E");

  transition: opacity 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
    transform 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.modal-checkbox:checked:after {
  opacity: 1;
  transform: scale(1);
}
.modal-agreement-desc {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.modal-agreement-link {
  color: var(--accent-cl);
}

/* Checkbox v.2 */
.modal-checkbox-icon {
  fill: none;
}
.unchecked {
  opacity: 1;
  stroke: rgba(17, 17, 17, 0.14);
  transition: opacity var(--anim-fast);
}
.checked {
  opacity: 0;
  transition: opacity var(--anim-fast);
}

input[type='checkbox']:checked + .modal-checkbox-icon .unchecked {
  opacity: 0;
}
input[type='checkbox']:checked + .modal-checkbox-icon .checked {
  opacity: 1;
}
/* Checkbox v.3 */
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  transition: border-color var(--anim-fast), background-color var(--anim-fast),
    box-shadow var(--anim-fast);
}

input[type='checkbox']:focus-visible ~ .custom-checkbox {
  box-shadow: 0 0 0 4px rgba(253, 146, 34, 0.25);
}
input[type='checkbox']:checked ~ .custom-checkbox {
  background-color: var(--accent-cl);
  border-color: var(--accent-cl);
}
.custom-checkbox-icon {
  opacity: 0;
  transition: opacity var(--anim-fast);
}

input[type='checkbox']:checked ~ .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
}

.modal-submit-btn {
  display: block;
  margin-top: 40px;
}
/* Валідація елементів форми */
.modal-field-input::placeholder {
  color: rgba(64, 64, 64, 0.3);
  opacity: 0;
  transition: opacity var(--anim-fast);
  transition-delay: 0s;
}
.modal-field-input:focus::placeholder {
  opacity: 1;
  transition-delay: 300ms;
}

/* Стан помилки на полі форми */
.modal-field-info {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  pointer-events: none;
}
.error {
  transform-origin: center;
  transform: scale(0.2);
  opacity: 0;
  fill: #e74a3b;
  transition: opacity 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
    transform 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.success {
  transform-origin: center;
  transform: scale(0.2);
  opacity: 0;
  fill: #098755;
  transition: opacity 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
    transform 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.modal-field-input:not(:placeholder-shown):required:invalid ~ .modal-field-info > .error {
  transform: scale(1);
  opacity: 1;
  transition-delay: 200ms;
}

.modal-field-input:not(:placeholder-shown):required:valid ~ .modal-field-info > .success {
  transform: scale(1);
  opacity: 1;
  transition-delay: 200ms;
}

/* Оформлення тексту підказки для невалідного інпуту */
.modal-error-message {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(120%);

  width: 100%;

  font-size: 12px;
  letter-spacing: -0.6em;
  text-align: center;
  color: #e74a3b;
  opacity: 0;

  transition: opacity 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
    letter-spacing 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.modal-field-input:not(:placeholder-shown):required:invalid ~ .modal-error-message {
  opacity: 1;
  letter-spacing: 0.02em;
}
