/* Variables */
:root {
  /* Fonts */
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: sans-serif;
  /* Colors */
  --main-cl: #111111;
  --primary-cl: ;
  --secondary-cl: ;
  --accent-cl: #fd9222;
  --light-cl: #fff;
  --light-cl-70: rgba(255, 255, 255, 0.7);
  --dakr-cl: ;
  --info-cl: ;
  --warning-cl: ;
  --error-cl: ;

  /* Background colors */
  --main-bg-cl: #fafafa;
  --accent-bg-cl: #fcf1e0;
  --light-bg-cl: rgba(17, 17, 17, 0.7);
  --dark-bg-cl: #1e1823;

  /* Other */
  --radius: ;
  --shadow: ;

  --indent-vertical: 32px;
  --indent-horizontal: var(--indent-vertical);
  --items: 4;
}
/**
  |============================
  | Base styles
  |============================
*/
.page {
  font-family: var(--main-font);
  color: var(--main-cl);
  background-color: var(--main-bg-cl);

  /* Pattern image */
  /* background-image: url('data:image/svg+xml,%3Csvg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z" fill="%239C92AC" fill-opacity="0.4" fill-rule="evenodd"/%3E%3C/svg%3E');

  background-repeat: no-repeat; */
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* reset end */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-title {
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-cl);
}
.section-title-accent {
  color: var(--accent-cl);
}
.container {
  width: 1168px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}
.btn {
  padding: 14px 40px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--light-cl);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
}
.btn-accent {
  background-color: var(--accent-cl);
}
.btn-accent:hover,
.btn-accent:focus {
  color: var(--accent-cl);
  background-color: var(--accent-bg-cl);
}
.btn-light {
  border-color: var(--light-cl);
  color: var(--light-cl);
}
.btn-light:hover,
.btn-light:focus {
  color: var(--accent-cl);
  border-color: var(--accent-cl);
}
.btn-dark {
  font-size: 18px;
  color: currentColor;
  border-color: var(--accent-cl);
}
.btn-dark:hover,
.btn-dark:focus {
  color: var(--light-cl);
  background-color: var(--accent-cl);
}

/**
  |============================
  | Flexbox grid
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--indent-horizontal);
  column-gap: var(--indent-vertical);
}
.card-set-item {
  width: calc((100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items));
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin-right: 365px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.header-logo-italic {
  font-style: italic;
}
.header-logo-icon {
}
.header-list {
  display: flex;
  gap: 24px;
}
.header-list-item {
}
.header-list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--accent-cl);
}
.header-list-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-cl);
}
.header-socials {
  display: flex;
  gap: 14px;
}
.header-socials-item {
}
.header-socials-link {
  display: block;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  color: var(--main-cl);
}
.header-socials-link:hover,
.header-socials-link:focus {
  color: var(--accent-cl);
}
.header-socials-icon {
  fill: currentColor;
}

/* .header-socials-icon {
  fill: var(--main-cl);
}
.header-socials-link:hover .header-socials-icon,
.header-socials-link:focus .header-socials-icon {
  fill: var(--accent-cl);
} */

/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  padding-bottom: 80px;

  /* max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: url('../images/hero/people-office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
.hero-wrapper {
  padding: 40px;
  padding-top: 381px;

  border-radius: 30px;
  background-color: var(--light-bg-cl);
  background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
    url('../images/hero/hero_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  width: 484px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--light-cl);
}
.hero-controls {
  display: flex;
}
.hero-btn-accent {
  margin-right: 14px;
}
.hero-btn {
  margin-left: auto;
  padding: 0;
  display: inline-flex;
  align-items: center;
  gap: 14px;
  letter-spacing: -0.42px;
}
.hero-btn-circle {
  display: inline-block;
  width: 38px;
  height: 38px;
  padding: 8px;

  background-color: var(--light-cl);
  border-radius: 50%;
}
/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--dark-bg-cl);
}
.benefits-container {
  width: 1132px;
}
.benefits-title {
  display: none;
}
.benefits-list {
  display: flex;
  /* gap: 88px; */
  justify-content: space-between;
}
.benefits-list-item {
  width: 308px;
}
/* .benefits-list-item::before {
  content: '';
  display: block;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;

  background-image: url('../images/icons/icons.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
/* .benefits-list-item:not(:last-child) {
  margin-right: 88px;
} */
.benefits-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;

  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.benefits-list-icon {
}
.benefits-list-title {
  margin-bottom: 18px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--light-cl);
}

.benefits-list-desc {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--light-cl-70);
}
/**
  |============================
  | Ingridients styles
  |============================
*/
.ingridients {
  padding-top: 120px;
}
.ingridients-title {
  width: 412px;
  margin-left: auto;
  margin-right: auto;
}
.ingridients-list {
}
.ingridients-item {
  padding: 28px 23px;

  background-color: var(--light-cl);
  border: 1px solid transparent;
  border-radius: 15px;
}
.ingridients-item:nth-child(4n + 1) {
  color: var(--light-cl);
  background-color: var(--accent-cl);
}
.ingridients-item:nth-child(4n + 3) {
  color: var(--light-cl);
  background-color: var(--dark-bg-cl);
}
.ingridients-item:nth-child(2n) {
  border-color: var(--accent-cl);
}
.ingridients-item-icon {
  fill: none;
  margin-left: auto;
}
.ingridients-item:nth-child(4n + 1) .ingridients-item-icon,
.ingridients-item:nth-child(4n + 3) .ingridients-item-icon {
  stroke: var(--light-cl);
}
.ingridients-item:nth-child(2n) .ingridients-item-icon {
  stroke: var(--accent-cl);
}

.ingridients-img {
}
.ingridients-caption {
  margin-top: 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/**
  |============================
  | Made styles
  |============================
*/
.made {
}
.made-title {
}
.made-wrapper {
  display: flex;
  gap: 20px;
}
.made-pic {
}
.made-right-side {
  padding: 32px;

  border-radius: 15px;
  background-color: var(--light-cl);
}
.made-subtitle {
  width: 350px;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-item {
  display: flex;
  align-items: baseline;
  gap: 8px;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.made-item:not(:last-child) {
  margin-bottom: 24px;
}
.made-item::before {
  content: '';

  display: block;
  flex-shrink: 0;
  width: 7px;
  height: 7px;
  background-color: #4c4c4c;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #eceded;
}
/**
  |============================
  | Products styles
  |============================
*/
.products {
  background-color: var(--light-bg);
}
.products-title {
}
.products-list {
  --indent-vertical: 18px;
  --indent-horizontal: 24px;
}
.products-item {
  padding: 32px 20px;
  background-color: var(--light-cl);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  text-align: center;
}
.products-ill {
}
.products-heading {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-category {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--additional-cl);
}
.products-price {
  width: fit-content;
  padding: 8px 20px;
  margin: 0 auto;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  background-color: var(--main-bg-cl);
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
/**
  |============================
  | Bestsellers styles
  |============================
*/
.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
  --items: 3;
  --indent-vertical: 16px;
}
.bestsellers-item {
}
.bestsellers-img {
  border-radius: 15px 15px 0px 0px;
}
.bestsellers-wraper {
  padding: 28px;

  border-radius: 0 0 15px 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  background-color: var(--light-cl);
}
.bestsellers-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}
/**
  |============================
  | Reviews styles
  |============================
*/
.reviews {
  padding-bottom: 120px;
}
.reviews-title {
  margin-bottom: 92px;
}
.reviews-list {
  --items: 3;
  --indent-vertical: 28px;
  margin-bottom: 50px;
}
.reviews-item {
  padding: 24px;
  background-color: var(--light-cl);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9px 100px 0px rgba(17, 17, 17, 0.03);
}
.reviews-avatar {
  margin: 0 auto;
  margin-top: -66px;
}
.reviews-author {
  margin-top: 18px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--additional-cl);
}
.reviews-btn {
  display: block;
  margin: 0 auto;
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  padding-top: 50px;
  padding-bottom: 62px;
  background-color: var(--dark-bg-cl);
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-slogan {
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--light-cl);
}
.footer-slogan-accent {
  color: var(--accent-cl);
}
.footer-address {
  display: flex;
  gap: 50px;
  font-style: normal;
}
.footer-address-left {
}
.footer-address-subject {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--light-cl);
}
.footer-socials {
  display: flex;
  align-items: center;
  gap: 14px;
}
.footer-contatcs {
}
.footer-menu {
  display: flex;
  gap: 24px;
}
.footer-menu-item {
}
.footer-menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--light-cl);
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--accent-cl);
}
/* Socials */
.socials {
}
.socials-item {
}
.socials-link {
}
/* .socials-link:hover,
.socials-link:focus {
  color: var(--accent-cl);
} */
.socials-icon {
  fill: none;
  stroke: var(--light-cl);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  stroke: var(--accent-cl);
}

/* Contacts */
.contacts {
}
.contacts-item:not(:last-child) {
  margin-bottom: 4px;
}
.contacts-link {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--light-cl);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-cl);
}
