/**
  |============================
  | Flexbox properties
  |============================
*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  /* Default properties */
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* align-items: stretch; */
  /* flex-wrap: nowrap; */
  /* align-content: stretch; */
}

.flex-element {
  /* margin-right: 40px;
  margin-bottom: 80px; */

  flex-basis: calc((100% - 20px * 3) / 4);

  /* Default properties */
  /* flex-basis: auto; */
  /* flex-shrink: 1;
  flex-grow: 0; */
}

/* .flex-element:nth-child(5n) {
  margin-right: 0;
}
.flex-element:nth-last-child(-n + 5) {
  margin-bottom: 0;
} */

/**
  |============================
  | Flexbox grid
  |============================
*/
:root {
  --items: 4;
  --indent: 30px;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  /* чи є змінна items && indent??? */
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.team-list {
  --items: 6;
  --indent: 15px;
}

.gallery-list {
  --items: 3;
  --indent: 60px;
}
